<!DOCTYPE>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Add album</title>
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/colors.css">
    <link rel="stylesheet" href="../stylesheets/basic.css">
    <link rel="stylesheet" href="../stylesheets/add_album.css">
  </head>
  <body>
    <div class="add-album-wrap">
      <div class="form-wrapper">
        <div class="picture-vynil">
        </div>
        <form method="GET" action="../php/add_album.php" name="add_album">
          <div class="album-information-wrapper">
            <label>Album name</label>
            <input type="text" name="name">

            <label>Genre</label>
            <input type="text" name="genre">

            <label>Artist</label>
            <input type="text" name="artist">

            <label>Year</label>
            <input type="number" name="year">

            <label>Ranking</label>
            <input type="number" name="ranking">
          </div>
          <div class="business-information-wrapper">
            <label>Is it available?</label>
            <input type="checkbox" name="available">

            <label>Stock</label>
            <input type="number" name="stock">

            <label>Price</label>
            <input type="number" name="price">
          </div>
          <input type="submit" value="add">
        </form>
      </div>
    </div>
  </body>
</html>
