body {
  width: 100%;
  height: 100%;
  background-color: #ECEAE3;
}

.auth-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 30rem;
  display: flex;
  justify-content: space-around;
}

.form-auth {
  padding: 2rem;
  min-width: 20rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 10px lightgrey;
}


.form-auth input[type="text"] {
  border: none;
  border-bottom: 1px solid GREEN;
  border-bottom-color: #CDC3BB;
  width: 70%;
  margin-bottom: 2rem;
  color: #CDC3BB;
  transition: ease-in 0.2s;
}

.form-auth input[type="text"]:focus {
  outline: none;
  color: black;
}

.form-auth input[type="submit"] {
  margin-top: 2rem;
  border: none;
  padding: 1.2rem 8rem 1.2rem 8rem;
  border-radius: 0;
  box-shadow: 0px 1px 5px lightgrey;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  transition: ease-in 0.2s;
}

.form-auth input[type="submit"]:hover {
  background-color: #C96459;
}

.vinyl-button-wrapper {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vinyl-login, .vinyl-register {
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
  transition: ease-in 0.2s;
}

.not-selected{
  filter: grayscale(100%);
  transition: ease-in 0.2s;
}

.not-selected:hover {
  filter: grayscale(0%);
}

.vinyl-wrapper-login, .vinyl-wrapper-register {
  display: flex;
  justify-content: center;
  align-items: center
}

.vinyl-wrapper-login img, .vinyl-wrapper-register img{
  width: 12rem;
  height: 12rem;
  position: relative;
  z-index: 2;
}

.vinyl-wrapper-login:hover, .vinyl-wrapper-register:hover {
  cursor: pointer;
}

.vinyl-text-login, .vinyl-text-register {
  position: absolute;
  z-index: 3;
  background-color: white;
  padding: 1rem;
}

.login-input, .sign-up-input {
  transition: ease-in 0.2s;
}

#mb-1 {
  margin-bottom: 1rem;
}
