body {
  background-color: #E1E1DD;
}

.search_bar {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search_bar input {
  background-color: white;
  padding: 2rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
}
.search-type {
  width: 100%;
}

#submit-search {
  width: 9rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CDC3BB;
}

#submit-search:hover {
  background-color: #C96459;
}

.filter {
  width: 15%;
  margin-top: 0.5rem;
  margin-right: 1rem;
  padding: 1rem;
  background-color: #CDC3BB;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.filter input {
  width: auto;
}

 #filter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

#show-all {
  margin: 2rem;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#show-all input {
  width: 10rem;
  margin-top: 0;
  margin-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #CDC3BB;
  border-radius: 0.2rem;
}

#show-all input:hover {
  border: 1px solid #C96459;
}

.search_bar form input[type="search"] {
  width: 100%;
}

.search-type-inputs {
  display: flex;
}

.listed_album {
  display: flex;
  flex:1;
  margin: 1rem;
  border-radius: 0.2rem;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  font-family: 'Effra', sans-serif;
  height: 100px;
}

.listed_album_info {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.listed_album_name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 32px;
}

.listed_album_info li {
  padding: 0px 32px;
}

.listed_album_info li span {
  font-size: 18px;
  font-weight: bold;
}

.listed_album_stock, .listed_album_price {
  color: #E5939D;
}

.operation_checkbox {
  width: 24px;
  height: 24px;
  margin-right: 32px;
}

.remove-input {
}

#remove-form {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

#remove-form input {
  width: 5rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  margin-left: 1rem;
}

#inactive-button:hover {
  background-color: #697A8A;
}

#remove-album:hover {
  background-color: #984B43;
}
