.basic-info, .new-messages, .your-albuns{
  padding-left: 2rem;
  margin-bottom: 1.3rem;
  padding-top: 1.3rem;
}

.basic-info form{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1.3rem;
}

.basic-info input{
  width: 40%;
  margin-bottom: 1.3rem;
}

.new-messages {
  display: flex;
  flex-direction: column;
}

.message-received {
  margin-top: 1.3rem;
  border-radius: 0.3rem;
  border: 1px solid #2D2D2D;
  width: 40%;
  height: 20%;
  padding: 0.6rem;
}

.your-albuns {
  min-height: 60vh;
  margin-bottom: 0;
}

.albuns-wrapper {
  margin-top: 1.3rem;
  display: flex;
}

.albuns {
  width: 75%;
}

.filter {
  border-left: 2px solid #CDC3BB;
  padding-left: 1.3rem;
}

.filter ul {
  margin-top: 0.6rem;
  list-style: none;
}

.filter ul li {
  background-color: white;
  margin-bottom: 0.3rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  transition: ease-in 0.2s;
  display: flex;
  width: 50%;
}

.filter ul li:hover {
  cursor: pointer;
  background-color: #CDC3BB;
}

.filter input[type="text"] {
  background-color: white;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: none;
  margin-top: 2rem;
  width: 100%;
}

.filter input[type="submit"] {
  padding: 0;
  padding: 0.5rem 0;
  margin-top: 1rem;
  border-radius: 0.3rem;
}
